[Unit]
Description=QUIC-TCP Server Proxy (quic-to-tcp)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/quic-tcp
EnvironmentFile=-/etc/quic-tcp/quic-to-tcp.env
ExecStart=/bin/sh -c 'exec /usr/local/bin/quic-to-tcp ${ARGS}'
Restart=always
RestartSec=3s
LimitNOFILE=65536

# Sandboxing & Security
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
